body{ 
    margin: 0;
    padding: 0;
    background-color: rgb(24, 24,24);
    overflow-x: hidden;
}
.NavBar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(41, 41, 41, 0.466);
    color: white;
    border-bottom: 1px solid rgba(83, 83, 83, 0.486);
}
.Left{
    font-family: 'Roboto', sans-serif;
    font-size: 10px;
    line-height: 3px;
    padding: 11.4px 0px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.Left svg{
    width: 24px;
    height: 24px;
    padding: 0px 20px;
}
.Center{
    display: flex;
    align-items: center;
}
.Center input{
    margin-left: 50px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 17px;
    color: rgb(187, 187, 187);
    background-color: rgb(18, 18, 18);
    border: 1px solid rgba(63, 63, 63, 0.555);
    height: 36px;
    width: 530px;
}
.Center :nth-child(2){
    background-color: rgba(56, 56, 56, 0.555);
    height: 16px;
    width: 16px;
    padding: 12px 25px;
}
.Center :nth-child(3){
    background-color: rgba(15, 15, 15, 0.521);
    height: 20px;
    width: 20px;
    padding: 10px 10px;
    margin-left: 10px;
    border-radius: 100%;
}

.Right{
    display: flex;
    align-items: center;
 margin-right: 30px;
}

.Right img{
    height: 17px;
    margin-right: 30px;
    filter: invert(100%) sepia(0%) saturate(7497%) hue-rotate(311deg) brightness(105%) contrast(99%);
}
.Right :nth-child(4){
    margin-right: 16px;
    height: 30px;
    filter: none;
    border-radius: 50%;
}

/* --------------------LowBar------------------------ */

.LowBar{
    display: flex;
    justify-content: center;
    background-color: rgba(41, 41, 41, 0.466);
    color: white;
    border-bottom: 1px solid rgba(83, 83, 83, 0.486);
}
.LowBar ol{
  margin: 13px 0;
  list-style: none;
  display: flex;
  flex-direction: row;
}
.LowBar ol li{
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  line-height: 20px;
  font-weight: 500;
  background-color: rgba(63, 62, 62, 0.753);
  border: 1px solid rgba(83, 83, 83, 0.719);
  border-radius: 20px;
  width: fit-content;
  height: 20px;
  width: max-content;
  padding: 4px 14px;
  margin: 0px 7px;
}
.LowBar ol :nth-child(1){
    color: black;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgba(247, 247, 247, 0.719);
    border-radius: 20px;
    width: fit-content;
    height: 20px;
    width: max-content;
    padding: 4px 14px;
    margin: 0px 7px;
}

/* --------------------Posteos------------------------ */

#Posts{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 20px 30px;
    justify-content: flex-start;
    gap: 20px;
}
.Post{
    width: max-content
}
.Post img{
    width: 345px;
}
.userZone{
    display: flex;
    align-items: flex-start;
}
.userZone img{
    margin-right: 10px;
    width: 37px;
    height: 37px;
    border-radius: 50%;
}
.titleZone{
    color: white;
    font-size: 8px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.titleZone h2{
    margin-top: -4px;
    color: rgb(175, 175, 175);
}
.titleZone h1{
    max-height: 40px;
    width: 270px;
    margin-top: -1px;
    line-height:normal;
    overflow: hidden;
    text-overflow: ellipsis;
    overflow-wrap:break-word;
}